<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lzmouse.myguc">

    <application xmlns:tools="http://schemas.android.com/tools"
        android:allowBackup="true"
        android:icon="@mipmap/ic_lan"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_lan"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon"
        android:usesCleartextTraffic="true"
        >
        <activity android:name=".Intranet.DataActivity"></activity>
        <activity android:name=".Intranet.MetActivity"
            android:parentActivityName=".Main.MainActivity" />
        <activity android:name=".Intranet.IETActivity"
            android:parentActivityName=".Main.MainActivity"/>
        <activity
            android:name=".Main.MainActivity"
            android:theme="@style/AppTheme.BrandedLaunch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Intranet.IntranetActivity"
            android:parentActivityName=".Main.MainActivity" />
        <activity
            android:name=".Intranet.FilesActivity"
            android:parentActivityName=".Main.MainActivity" />
        <activity
            android:name=".Login.LoginActivity"
            android:parentActivityName=".Main.MainActivity" />
        <activity
            android:name=".Intranet.FavoritesActivity"
            android:parentActivityName=".Main.MainActivity" />
        <activity
            android:name=".Notebook.NotebookActivity"
            android:label="Notebook"
            android:parentActivityName=".Main.MainActivity" />
        <activity
            android:name=".Notebook.SubjectActivity"
            android:parentActivityName=".Notebook.NotebookActivity" />
        <activity
            android:name=".Notebook.EntryActivity"
            android:parentActivityName=".Notebook.SubjectActivity"
            android:theme="@style/EntryTheme" />
        <activity
            android:name=".IntroActivity"
            android:theme="@style/Theme.Intro" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="43fe0158794c29e707905dc7e0832f9bcbd085df" />

        <provider
            android:name=".GenericFileProvider"
            android:authorities="${applicationId}.my.package.name.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver
            android:name=".Intranet.DownloadFileCLicked"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".AudioBroadCastReciver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".Intranet.DownloadService"
            android:exported="false" />
        <service
            android:name=".Notebook.AudioRecordService"
            android:exported="false" />
    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>